@model NewProject1.Models.tblReg

 
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)

            @Html.TextBoxFor(m => m.F_Name, new { @class = "form-control", @placeholder = "Please enter the Name" })
            @Html.ValidationMessageFor(m => m.F_Name)

            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Please enter the Address" })
            @Html.ValidationMessageFor(m => m.Address)

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Please enter the Email" })
            @Html.ValidationMessageFor(m => m.Email)

            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Please enter the Password" })
            @Html.ValidationMessageFor(m => m.Password)

            @Html.ValidationSummary(true)
            <input type="submit" css="btn" />
        }

        </div>
        

        <div class="col-md-6">
            <table class="table-bordered">
                <thead>
                    <tr>

                        <td>
                            Id
                        </td>
                        <td>
                            F_Name
                        </td>
                        <td>
                            MobileNo
                        </td>
                        <td>
                            Email
                        </td>
                        <td>
                            Password
                        </td>
                        <td>
                            Address
                        </td>
                        <td>
                            Gender
                        </td>
                        <td>
                            isactive
                        </td>
                        <td>
                            u_date
                        </td>
                        <td>
                            c_date
                        </td>
                        <td>
                            DateOfBirth
                        </td>
                        <td>
                            Role
                        </td>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in ViewBag.list)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.F_Name
                            </td>
                            <td>
                                @item.MobileNo
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Password
                            </td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                @item.Gender
                            </td>
                            <td>
                                @item.isactive
                            </td>
                            <td>
                                @item.u_date
                            </td>
                            <td>
                                @item.c_date
                            </td>
                            <td>
                                @item.DateOfBirth
                            </td>
                            <td>
                                @item.Role
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>